<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.jeff.dominatelight">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- wifi状态改变 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name=".MyApp"
            android:allowBackup="true"
                 android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:roundIcon="@drawable/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

    <!--       <provider
                    android:name="android.support.v4.content.FileProvider"
                    android:authorities="com.jeff.dominatelight.FileProvider"
                    android:exported="false"
                    tools:replace="android:authorities"
                    android:grantUriPermissions="true">
                    <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/file_paths" />
                </provider>-->
        <service android:name=".service.TelinkLightService"
                 android:enabled="true"/>

        <service android:name=".service.RefreshTokenService"
                 android:enabled="true"/>

        <!-- XLINK 内网服务 -->
        <service android:name="io.xlink.wifi.sdk.XlinkUdpService"/>

        <!-- XLINK 公网服务 -->
        <service android:name="io.xlink.wifi.sdk.XlinkTcpService"/>

        <activity android:name=".activity.GuideActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.CreateActivity"/>
        <activity android:name=".activity.ForgetPasswordActivity"/>
        <activity android:name=".activity.MainActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".activity.FindNewActivity"/>
        <activity android:name=".activity.BlubbActivity"/>
        <activity android:name=".activity.RenameActivity"/>
        <activity android:name=".activity.NewGroupActivity"/>
        <activity android:name=".activity.GroupActivity"/>
        <activity android:name=".activity.ManageGroupDevice"/>
        <activity android:name=".activity.JoinGroupActivity"/>
        <activity android:name=".activity.SceneActivity"/>
        <activity android:name=".activity.ManageSceneDevice"/>
        <activity android:name=".activity.TimerListActivity"/>
        <activity android:name=".activity.NewTimerActivity"/>
        <activity android:name=".activity.HomeGroupActivity"/>
        <activity android:name=".activity.HomeSceneActivity"/>
        <activity android:name=".activity.HomeDeviceActivity"/>
        <activity android:name=".activity.OTAActivity"/>
        <activity android:name=".activity.OTATipsActivity"/>
        <activity android:name=".activity.OtaUpdataActivity"/>
        <activity android:name=".activity.ShareActivity"/>
        <activity android:name=".activity.ShareToActivity"/>
        <activity android:name=".activity.EditPasswordActivity"/>
        <activity android:name=".activity.EditNickActivity"/>
        <activity android:name=".activity.AboutActivity"/>
    </application>

</manifest>